In [2]:
import pandas as pd
import numpy as np
import numpy as np


import matplotlib.colors as mcolors
import matplotlib.pyplot as plt
from matplotlib import colors
from matplotlib.ticker import PercentFormatter

In [4]:
df = pd.read_csv('../Data/df_all.csv')
df['Handedness'] = pd.to_numeric(df['Handedness'],errors='coerce') # first of many..
df.loc[df['DX'] == 'pending','DX'] = '4' # Turn 'pernding in to 4'
df['DX'] = pd.to_numeric(df['DX'],errors='coerce') # first of many..
df['Gender'] = pd.to_numeric(df['Gender'],errors='coerce') # first of many..

df

,Subject,ScanDir ID,Site,Gender,Age,Handedness,DX,Secondary Dx,ADHD Measure,ADHD Index,...,Full2 IQ,Full4 IQ,Med Status,QC_Rest_1,QC_Rest_2,QC_Rest_3,QC_Rest_4,QC_Anatomical_1,QC_Anatomical_2,ID
0,0,26001.0,2,1.0,16.92,1.0,4,pending,pending,pending,...,NaN,120.0,pending,1.0,NaN,NaN,NaN,1.0,NaN,NaN
1,1,26002.0,2,1.0,15.68,1.0,4,pending,pending,pending,...,NaN,107.0,pending,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2,2,26004.0,2,0.0,14.99,1.0,4,pending,pending,pending,...,NaN,125.0,pending,1.0,NaN,NaN,NaN,1.0,NaN,NaN
3,3,26005.0,2,0.0,15.16,1.0,4,pending,pending,pending,...,NaN,126.0,pending,1.0,NaN,NaN,NaN,1.0,NaN,NaN
4,4,26009.0,2,1.0,16.91,0.0,4,pending,pending,pending,...,NaN,97.0,pending,1.0,NaN,NaN,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,712,16015.0,7,1.0,11.70,1.0,0,NaN,NaN,NaN,...,-999.0,108.0,NaN,0.0,NaN,NaN,NaN,1.0,NaN,NaN
713,713,16035.0,7,1.0,13.94,1.0,0,NaN,NaN,NaN,...,-999.0,113.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
714,714,16023.0,7,0.0,12.51,0.0,0,NaN,NaN,NaN,...,110.0,107.0,NaN,0.0,NaN,NaN,NaN,1.0,NaN,NaN
715,715,16054.0,7,1.0,16.05,1.0,0,NaN,NaN,NaN,...,-999.0,105.0,NaN,0.0,NaN,NaN,NaN,1.0,NaN,NaN
716,716,16002.0,7,0.0,10.16,1.0,0,NaN,NaN,NaN,...,-999.0,120.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN

In [36]:
np.unique(df['Site'].values)

array([1, 2, 3, 4, 5, 6, 7])

In [8]:
len(np.unique(df['Site'].values))

7

In [10]:
'Number of ADHD subjects = {}, Number of typically developing subjects = {}'.format(
    df['DX'].value_counts()[1]
    +df['DX'].value_counts()[2]
    +df['DX'].value_counts()[3],
    df['DX'].value_counts()[0])

'Number of ADHD subjects = 261, Number of typically developing subjects = 430'

In [17]:
controls = df['DX'].values==0
patients = df['DX'].isin([1,2,3]).values

In [21]:
print(controls.sum())
print(patients.sum())

430
261

In [29]:
## TD
(df['Gender'].values[controls]==0).sum()

231

(7.17, 21.74)

In [34]:
(df['Gender'].values[patients]==0).sum()

67

In [35]:
((df['Age'].values[patients]).min(),(df['Age'].values[patients]).max())

(7.24, 20.89)

######